{% extends 'staff_base.html' %}{% block content %}<h1>{{ customer.first_name }} {{ customer.last_name }}</h1>
<a href="{{ url_for('staff.customer_form', customer_id=customer.customer_id) }}">Edit customer</a>
<dl>{% for key, label in [('customer_id','Customer ID'),('email','Email'),('phone','Phone'),('address','Address'),('loyalty_points','Loyalty points'),('created_at','Created'),('updated_at','Updated')] %}<dt>{{ label }}</dt><dd>{{ customer.get(key, '') }}</dd>{% endfor %}</dl>{% endblock %}
