// Create variables for different colors
$primary-color: #7434db;
$primary-hover-color: #5e2ab3;
$secondary-color: #8578cffa;
$secondary-hover-color: #6b5ca3;
$background-color: #cfcbcb;
$container-background-color: #f5f5f5;
$text-color: #333;
$subtext-color: #666;

// Create styles for the body and header elements
body {
  background-color: $background-color;
  color: $text-color;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}

header {
  background-color: $container-background-color;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px 0;

  h1 {
    margin: 0;
    font-size: 2.5rem;
    color: $primary-color;
  }
}

// Create styles for the main content area
main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

// Create styles for the container object   
.container {
  background-color: $container-background-color;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
  margin: 50px auto;

  h1 {
    font-size: 2.5rem;
    color: $text-color;
    margin-bottom: 1.5rem
  }
  p{
    font-size: 18px;
    color: $subtext-color;
    margin-bottom: 20px;
  }

  // Create style for input-field element used for username, password, login, and register fields

  .input-field {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid $subtext-color;
    border-radius: 5px;
    font-size: 1.5rem;
    box-sizing: border-box;

    // Additional style for input-field when focused (hovering over with mouse)
    &:focus {
      border-color: $primary-hover-color;
      outline: none;
    }
  }

  // Create style for button element used for login and register buttons

  .btn {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    color: white;
    background-color: $primary-color;
    cursor: pointer;

    // Additional style for button when hovered over with mouse
    &:hover {
      background-color: $primary-hover-color;
    }

    
  }
}